name: cd

on:
  push:
    tags:
      - 'v*'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: fragments
  ECS_CLUSTER: fragments-cluster
  ECS_SERVICE: fragments-service
  TASK_DEF: fragments-definition.json
  CONTAINER_NAME: fragments
  AWS_ACCOUNT_ID: 471112953885

jobs:
  push-to-ecr:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
          VERSION_TAG: ${{ github.ref_name }}
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ github.ref_name }}

  deploy-ecs:
    runs-on: ubuntu-latest
    needs: push-to-ecr

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Render task definition
        id: taskdef
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ env.TASK_DEF }}
          container-name: ${{ env.CONTAINER_NAME }}
          # 여기서 image 값을 outputs 안 쓰고 직접 지정
          image: 471112953885.dkr.ecr.us-east-1.amazonaws.com/fragments:${{ github.ref_name }}
          environment-variables: |
            LOG_LEVEL=info
            AUTH_STRATEGY=bearer
            AWS_REGION=${{ secrets.AWS_REGION }}
            AWS_S3_BUCKET_NAME=fragments-seunghoonhan
            AWS_COGNITO_REGION=us-east-1
            AWS_COGNITO_POOL_ID=us-east-1_BeSfQw7NW
            AWS_COGNITO_CLIENT_ID=2pi7e9jnjo3hgb1mm501n7ou51

      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.taskdef.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
